body {
    margin: 0;
}
div {
    border: 1px solid red;
    box-sizing: border-box;
}

.equipo-1 {

}

.equipo-2 {
    
}

.equipo-3 {
    
}

.equipo-4 {
    
}

.equipo-5 {
    
}

.equipo-6 {
    
}
.lara h1{
    color: brown;
    font: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.equipo-7 {
    
}

.equipo-8 {
    
}