body {
    margin: 0;
}
div {
    border: 1px solid red;
    box-sizing: border-box;
}

.equipo-1 {
    width: 400px;
    height: 200px;
    background: -webkit-linear-gradient(90deg, yellow 40%, red 60%)
    
}

.equipo-2 {
    
}

.equipo-3 {
    
}

.equipo-4 {
    
}

.equipo-5 {
    
}

.equipo-6 {
    
}

.equipo-7 {
    
}

.equipo-8 {
    
}