body {
    margin: 0;
}
div {
    border: 1px solid red;
    box-sizing: border-box;
}

.equipo-1 {

}

.equipo-2 {
    
}

.equipo-3 {
    
}

.equipo-4 {
    width: 300px;
    height: 300px;
    background: rgb(100, 16, 100);
    margin: auto;
    color: white;
}

.equipo-5 {
    
}

.equipo-6 {
    
}

.equipo-7 {
    
}

.equipo-8 {
    
}